<div class="flex-container">
  <div id="reviews">
    <app-reviews></app-reviews>
  </div>
  
  <br>
  
  <div id ="average-rating">
    <app-average-rating></app-average-rating>
  </div>
  
  <br>
  
  <div id="sentiment-analysis">
    <app-sentiment-analysis></app-sentiment-analysis>
  </div>
  
  <br>

</div>

<div id="website-visitors">
  <app-website-visitors></app-website-visitors>
</div>

<br>

<div>
  <app-sidebar id="sidebar"></app-sidebar>
</div>

<!-- Can't figure out the following:
1. How to make the elements all line up together proportionally
2. How to move the text inside the navbar down so that it is centered
-->



