<div class="container-fluid">
  <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 Home" style="background-color: #FFC432">
       <h2>Welcome to<br>the portfolio of<br>Jonathan Patterson,<br>Detroit Product Designer</h2>
      <h4>Home</h4>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 About" style="background-color: #FF7B1D">
      <img src="http://www.jonathanpatterson.com/images/grenade-in-tact.png" class="img-responsive" style="width:50%" alt="a grenade">
      <h4>About</h4>
      <h5>Shattering the status quo.</h5>
    </div>
      <div class="col-lg-4 col-md-6 col-sm-12 Portfolio" style="background-color: #EC4336">
        <img src="http://www.jonathanpatterson.com/images/prism-upright.png" class="img-responsive" style="width:50%" alt="a prism">
        <h4>Portfolio</h4>
        <h5>From website design to app UX/UI, it’s all here.</h5>
      </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 Clients" style="background-color: #74BD4A">
      <img src="http://www.jonathanpatterson.com/images/globe-no-pins.png" class="img-responsive" style="width:50%" alt="globe">
      <h4>Clients</h4>
      <h5>Fulfilling relationships from coast to coast.</h5>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 'Sup" style="background-color: #0092FC">
        <img src="http://www.jonathanpatterson.com/images/energy-drink.png" class="img-responsive" style="width:50%" alt="energy drink cans">
        <h4>'Sup</h4>
        <h5>What’s up, during and after hours.</h5>
      </div>
        <div class="col-lg-4 col-md-6 col-sm-12 Contact" style="background-color: #7E4295">
          <img src="http://www.jonathanpatterson.com/images/curled-paper.png" class="img-responsive" style="width:50%" alt="curled piece of paper">
         <br>
          <h4>Contact</h4>
          <h5>Ready to make something special? Me too!</h5>
        </div>
</div>

<!--
<div class="grid">
  <div class="item" style="background-color: #FFC432">
    <app-home></app-home>
  </div>
  <div class="item" style="background-color: #FF7B1D">
    <app-about></app-about>
  </div>
  <div class="item" style="background-color: #EC4336">
    <app-portfolio></app-portfolio>
  </div>
<div class="item" style="background-color: #74BD4A">
    <app-clients></app-clients>
  </div>
  <div class="item" style="background-color: #0092FC">
    <app-sup></app-sup>
  </div>
  <div class="item" style="background-color: #7E4295">
    <app-contact></app-contact>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <h1>blah</h1>
    </div>
    <div class="col-3">
      <h1>blah2</h1>
    </div>
    <div class="col-3">
      <h1>blah3</h1>
    </div>
      
  </div>

  <div class="row">
    <div class="col-3">
      <h1>Blah 2</h1>
    </div>
  </div>
</div>


<app-home></app-home>
<app-about></app-about>
<app-portfolio></app-portfolio>
<app-clients></app-clients>
<app-sup></app-sup>
<app-contact></app-contact>

<div class="row row-cols-3">
  <div class="col">1 of 6</div>
  <div class="col">2 of 6</div>
  <div class="col">3 of 6</div>
  <div class="col">4 of 6</div>
  <div class="col">5 of 6</div>
  <div class="col">6 of 6</div>
</div>

<div class="flexbox-container">
  
  <div class="flex-item flexbox-item-1"> 
    <app-home></app-home>
  </div>
  
  <div class="flex-item flexbox-item-2">
    <app-about></app-about>
  </div>
  
  <div class="flex-item flexbox-item-3">
    <app-portfolio></app-portfolio>
  </div>
  
  <div class="flex-item flexbox-item-4">
    <app-clients></app-clients>
  </div>
 
  <div class="flex-item flexbox-item-5">
    <app-sup></app-sup>
  </div>
 
  <div class="flex-item flexbox-item-6"> 
    <app-contact></app-contact>
  </div>
  
</div>
-->
