h1 {
    text-align: center;
    color: navy;
}
h3 {
    color: darkcyan;
    text-align: center;
}
ul {
    width: 10%;
    margin: auto;
}
body {
    background-color: tan;
}
#wrapper {
    text-align: center;
}
