.navbar-header {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
.navbar {
    background-color: #CCFF38;
}

.announcement {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}