<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class=“container-fluid”>
      <ul class="nav navbar-nav">
        <li><a href=“#”>Plants</a></li>
        <li><a href=“#”>Planters</a></li>
        <li><a href=“#”>Supplies</a></li>
        <li><a href=“#”>Merchandise</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><input type=“text” class=“form-control” placeholder=“Search”></li>
        <li><a href=“#”><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a></li>
      </ul>
      <div class="navbar-header navbar">
          <a href="#" class="navbar-brand">rooted</a>
      </div>
    </div>
</nav>






 