<nav class="navbar navbar-inverse">
    <div class=“container-fluid”>
      <ul class="nav navbar-nav">
        <li><a href=“#” style="color: #131805;">Plants</a></li>
        <li><a href=“#” style="color: #131805;">Planters</a></li>
        <li><a href=“#” style="color: #131805;">Supplies</a></li>
        <li><a href=“#” style="color: #131805;">Merchandise</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><input type="text" class="form-control" placeholder="Search" style="color: #131805;"></li>
          <li><a href="#"><span class="glyphicon glyphicon-shopping-cart" style="color: #131805;"></span>Cart</a></li>
      </ul>
      <div class="navbar-header navbar">
          <!-- <a href="#" class="navbar-brand" style="color: #13281C; ;">rooted</a>--->
          <img class="Header__LogoImage Header__LogoImage--primary" src="//cdn.shopify.com/s/files/1/2781/9558/files/Layer_1_45c3540b-4a8d-47bb-86be-cb51f6080bc7_190x.png?v=1540102857" srcset="//cdn.shopify.com/s/files/1/2781/9558/files/Layer_1_45c3540b-4a8d-47bb-86be-cb51f6080bc7_190x.png?v=1540102857 1x, //cdn.shopify.com/s/files/1/2781/9558/files/Layer_1_45c3540b-4a8d-47bb-86be-cb51f6080bc7_190x@2x.png?v=1540102857 2x" width="190" alt="Rooted">
      </div>
    </div>
</nav>






 