body {background-color: #4730db;
    text-align: center; 
}
.Owl {
    font-family: fantasy;
}
.secret {
    opacity: 0.5;
}
li {
    list-style: none;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
}
table {
    border: 1px solid 
}
th {
    border: 1px solid;
}
td {
    border: 1px solid
}
